body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body, main {
  width: 100vw;
  height: 100vh;

}

main {
  display: grid;
  grid-template-columns: auto 411px auto;
  grid-template-rows: auto 731px auto;
}

.title {
  margin: 2rem 0 0.5rem 1.5rem;
  padding: 0;
}

.container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-width: 411px;
  max-width: 731px;
  background-color: #fcfcfc;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0 0.25rem 0;
}

.txtNotDone {
  margin: 1rem 0.75rem 1rem 0.5rem;
  text-align: left;
  width: 65%;
}

.txtDone {
  margin: 1rem 0.75rem 1rem 0.5rem;
  text-align: left;
  width: 65%;
  text-decoration: line-through;
}

.notdone {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff0000;
  margin: 0.25rem 0.25rem 0.25rem 2rem;
}

.done {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00ff00;
  margin: 0.25rem 0.25rem 0.25rem 2rem;
}

.btn {
  height: 1.5rem;
  margin-right: 2rem;
}

.clearAll {
  width: 50%;
  margin: 0 auto;
}